@page
@{
    ViewBag.Title = "Ki Mr. Kupido? - Mr. Kupido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("_HelpHeader"); }

<article class="help">
    <h2>Miért van szüksége Mr. Kupidónak rád a fejlődéshez?</h2>
    <p>Mr. Kupido nem tökéletes. Sosem is állítaná ezt, de minden nap azon dolgozik, hogy jobb legyen. Szeret tanulni, szereti a kihívásokat, álmodik arról, hogy bajnok legyen, aki jobbá teszi a világot. Ehhez azonban szüksége van rád: a tudásodra, ötleteidre, támogatásodra, hozzájárulásodra. Segíts neki, terjeszd a hírét, csatlakozz, küldj hibákat, javíts hibákat, fejlessz új funkciókat, tölts fel adatokat, vagy csak használd és köszönd meg, hogy van. Szereti, ha szeretik.</p>
</article>
