# Build Folders
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio 2022 workspace settings
.vs/

# NuGet packages
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# Test results
TestResults/
*.TestResult.xml

# Publish output
publish/

# Code analysis logs
*.CodeAnalysisLog.xml

# Bootstrapper packages
*.bootstrapper

# Others
_ReSharper*/
*.resharper
*.DotSettings.user

# Database files
*.mdf
*.ldf
*.db

# SQLite DB file
MrKupido.DataAccess.MrKupidoContext.db