@using MrKupido.Web.Models

<a runat="server" href="~/@Session["Language"]">
    <img runat="server" src="~/Content/svg/logo_mrkupido_wide.svg" alt="Mr. Kupido" width="600" height="157" />
</a>
<div>
    <h1>Help</h1>
</div>
