<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!-- WinServe.co.uk - external address is mssqluk5.prosql.net -->
    <add name="MrKupidoContext"
      connectionString="Data Source=10.26.0.123;Initial Catalog=andrasfuchs_mrkupido;User Id=andrasfuchs_mrkupido;Password=vnN4vtbWJ5C4;Trusted_Connection=False"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>