<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="MrKupidoContext"
		  connectionString="Data Source=.\SQLEXPRESS2008R2;Initial Catalog=MrKupido.DataAccess.MrKupidoContext;User Id=mrkupido;Password=Kupido36;Trusted_Connection=False"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
</configuration>