@{
    ViewBag.Title = "Főoldal - Mr. Kupido";
}
<header class="nosearch">
    <a href="~/">
        <img src="~/Content/svg/logo_mrkupido_wide.svg" alt="Mr. Kupido" width="600" height="157" />
    </a>
</header>
<!-- Add main page content here -->
