@{
    ViewBag.Title = "Recept nem elérhető - Mr. Kupido";
}
<header class="nosearch">
    <a href="~/">
        <img src="~/Content/images/logo_mrkupido_wide.png" alt="Mr. Kupido" width="600" height="157" />
    </a>
</header>
<div>
    <details id="browser" open class="alwaysopen">
        <summary>
            <h1>Hiba</h1>
            <h3>A recept jelenleg nem elérhető.</h3>
        </summary>
        <hr class="space" />        
    </details>
</div>
<div class="formbuttons">
    <input type="button" value="Vissza a főoldalra" onclick="window.location='../../'" />
    @using (Html.BeginForm("IgnoreOldBrowser", "Home", new { }))
    {
        <input type="submit" value="Recept feltöltése" />
    }
</div>
