@model MrKupido.Web.Models.RecipeSearchResult
<details id="searchresults" open>
    <summary>
        <h1>
            Találatok</h1>
        <h2>
            (@(Model == null ? "0" : Model.Items.Count.ToString())
            étel)</h2>
    </summary>
        <hr class="single" />
        <div class="filters">
            <figure>
                <a id="filter01" href="#">
                    <img runat="server" src="~/Content/svg/cat_maindish_dark.svg" alt="előétel" width="45px" height="30px" /><figcaption>főétel (+11)</figcaption>
                </a>
            </figure>
            <figure>
                <a id="filter02" href="#">
                    <img runat="server" src="~/Content/svg/cat_soup_dark.svg" alt="kenyér" width="45px" height="30px" /><figcaption>leves (-5)</figcaption></a>
            </figure>
            <figure>
                <a id="filter03" href="#">
                    <img runat="server" src="~/Content/svg/cat_vegetabledish_dark.svg" alt="sütemény" width="45px" height="30px" /><figcaption>főzelék (-7)</figcaption></a>
            </figure>
            <figure>
                <a id="filter04" href="#">
                    <img runat="server" src="~/Content/svg/cat_fish_dark.svg" alt="desszert" width="45px" height="30px" /><figcaption>hal (+3)</figcaption></a>
            </figure>
            <figure>
                <a id="filter05" href="#">
                    <img runat="server" src="~/Content/svg/cat_meat_dark.svg" alt="ital" width="45px" height="30px" /><figcaption>hús (+1)</figcaption></a>
            </figure>
            <figure>
                <a id="filter06" href="#">
                    <img runat="server" src="~/Content/svg/cat_pasta_dark.svg" alt="ital" width="45px" height="30px" /><figcaption>tészta (+1)</figcaption></a>
            </figure>
            <figure>
                <a id="filter07" href="#">
                    <img runat="server" src="~/Content/svg/cat_pizza_dark.svg" alt="ital" width="45px" height="30px" /><figcaption>pizza (+1)</figcaption></a>
            </figure>
        </div>
        <div class="sortorderselect">
            <a href="#">név</a> - <a href="#">idö</a> - <a href="#" class="selected">értékelés</a> - <a href="#">típus</a>
        </div>
        <hr class="single" />
        <div>
            <ul>
                @{MrKupido.Web.Models.RecipeSearchResultItem[] rsri = (Model == null ? new MrKupido.Web.Models.RecipeSearchResultItem[0] : Model.GetItems(0, 6));}
                @for (int i = 0; i < rsri.Length; i++)
                { 
                    <li>
                        <div class="resultbox">
                            <div class="resulthead">
                                <div class="category">
                                    <img runat="server" src="~/Content/svg/cat_maindish.svg" alt="Sertés" width="45px" height="30px" />
                                </div>
                                <div class="title">
                                    <span class="titlecontent">
                                        <a runat="server" href="~/hun/recept/@rsri[i].UniqueName">@rsri[i].DisplayName</a>
                                    </span>
                                </div>
                                <div class="tick">
                                    <a href="#">
                                        <img runat="server" src="~/Content/svg/tick_off.svg" alt="Töröl" width="25px" height="25px" /></a>
                                </div>
                            </div>
                            <div class="resulticons">
                                <div class="preptime">
                                    <img runat="server" src="~/Content/svg/clock_15.svg" alt="13 perc" width="35px" height="35px" />
                                    <span>13</span>
                                </div>
                                <img runat="server" src="~/Content/svg/icon_vegetarian.svg" alt="nem vegetáriánus" width="35px" height="35px" />
                                <img runat="server" src="~/Content/svg/icon_glutenfree_dark.svg" alt="gluténmentes" width="35px" height="35px" />
                                <img runat="server" src="~/Content/svg/icon_lactosefree_dark.svg" alt="laktózmentes" width="35px" height="35px" />
                                <img runat="server" src="~/Content/svg/icon_photo.svg" alt="0 kép" width="40px" height="45px" />
                                <div class="versions">
                                    <img runat="server" src="~/Content/svg/versions.svg" alt="11 változat" width="50px" height="45px" />
                                    <span>11</span>
                                </div>
                            </div>
                            <div class="resultbody">
                                @rsri[i].MainIngredients
                            </div>
                            <div class="resultfooter">
                                <img runat="server" src="~/Content/svg/stars_25.svg" alt="2.5 csillag" width="111px" height="20px" />
                            </div>
                        </div>
                        <div class="resultnutrition">
                            <img runat="server" src="~/Content/svg/nutrition_sample.svg" alt="tápérték" width="155px" height="50px" />
                        </div>
                    </li>
                }

                @for (int j = rsri.Length; j < 6; j++)
                { 
                    <li class="disabled"></li>
                }
            </ul>
        </div>
</details>
