@{
    ViewBag.Title = MrKupido.Web.Resources.Home.Index.PageTitle + " - " + MrKupido.Web.Resources.Shared.Layout.PageTitle; ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            deleteFilter("");

            // show tips and tricks
            $.ajax({
                url: '@Url.Action("GetTipsNTricks", "Home")',
                type: "POST",
                dataType: "json",
                data: {},
                success: function (tipsAndTricksText) {
                    var htmlStr = "";

                    if (tipsAndTricksText[0] == "B") {
                        htmlStr += "<img runat=\"server\" src=\"./Content/svg/tnt_idea.svg\" width=\"24\" height=\"32\" />";
                    } else if (tipsAndTricksText[0] == "Q") {
                        htmlStr += "<img runat=\"server\" src=\"./Content/svg/tnt_question.svg\" width=\"24\" height=\"32\" />";
                    } else if (tipsAndTricksText[0] == "S") {
                        htmlStr += "<img runat=\"server\" src=\"./Content/svg/tnt_smile.svg\" width=\"24\" height=\"32\" />";
                    } else if (tipsAndTricksText[0] == "E") {
                        htmlStr += "<img runat=\"server\" src=\"./Content/svg/tnt_exclamation.svg\" width=\"24\" height=\"32\" />";
                    }

                    htmlStr += "<span>";
                    htmlStr += tipsAndTricksText.substring(1);
                    htmlStr += "</span>";

                    $("#tipsandticks").html(htmlStr);
                    $("#tipsandticks").show();
                }, // success
                error: function (xhr, textStatus, errorThrown) {
                    $("#tipsandticks").hide();
                }
            }); // ajax
        });

        function doSearch(maxResult) {
            $.ajax({
                url: '@Url.Action("Search", "Home")',
                type: "POST",
                dataType: "html",
                data: {
                    maxResult: maxResult
                },
                success: function (data) {
                    $('div#_RecipeSearchResults').html(data);
                }, // success
                error: function (xhr, textStatus, errorThrown) {
                    //                                                  alert("Error");
                    //                                                  alert(xhr);
                    //                                                  alert(textStatus);
                    //                                                  alert(errorThrown);
                }
            });   // ajax
            $("#query").focus();
        }
    </script>
}
<header>
    @{ Html.RenderPartial("_SearchHeader"); }
</header>
<article>

    <hr class="single" />
    <div id="tipsandticks" class="tipsandticks">
    </div>
    <div style="display: none">
        <hr class="double" />
        <details id="mymenu">
            <summary>
                <h1>Saját menüm</h1>
                <h2>(4 étel)</h2>
            </summary>
            <ul>
                <li>
                    <div class="resulthead">
                        <div class="category">
                            <img runat="server" src="~/Content/svg/cat_maindish.svg" alt="Sertés" width="45px" height="30px" />
                        </div>
                        <div class="title">
                            Paprikás krumpli
                        </div>
                        <div class="tick">
                            <a href="#">
                                <img runat="server" src="~/Content/svg/tick_on.svg" alt="Töröl" width="25px" height="25px" /></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="resulthead">
                        <div class="category">
                            <img runat="server" src="~/Content/svg/cat_maindish.svg" alt="Sertés" width="45px" height="30px" />
                        </div>
                        <div class="title">
                            Bundáskenyér
                        </div>
                        <div class="tick">
                            <a href="#">
                                <img runat="server" src="~/Content/svg/tick_on.svg" alt="Töröl" width="25px" height="25px" /></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="resulthead">
                        <div class="category">
                            <img runat="server" src="~/Content/svg/cat_maindish.svg" alt="Sertés" width="45px" height="30px" />
                        </div>
                        <div class="title">
                            Csirkecomb mustármártásban
                        </div>
                        <div class="tick">
                            <a href="#">
                                <img runat="server" src="~/Content/svg/tick_on.svg" alt="Töröl" width="25px" height="25px" /></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="resulthead">
                        <div class="category">
                            <img runat="server" src="~/Content/svg/cat_maindish.svg" alt="Sertés" width="45px" height="30px" />
                        </div>
                        <div class="title">
                            Gombás sült csirkecomb
                        </div>
                        <div class="tick">
                            <a href="#">
                                <img runat="server" src="~/Content/svg/tick_on.svg" alt="Töröl" width="25px" height="25px" /></a>
                        </div>
                    </div>
                </li>
                <li class="disabled"></li>
                <li class="disabled"></li>
                <li class="disabled"></li>
                <li class="disabled"></li>
                <li class="disabled"></li>
            </ul>
        </details>
        <hr class="double" />
        <details id="recommendations">
            <summary>
                <h1>Ajánlásaink</h1>
                <h2>(15 étel)</h2>
            </summary>
            <ul>
                <li>
                    <div class="resultbox">
                        <div class="resulthead">
                            <div class="category">
                                <img runat="server" src="~/Content/svg/cat_maindish.svg" alt="Sertés" width="45" height="30" />
                            </div>
                            <div class="title">
                                Sajtban sült tojás
                            </div>
                            <div class="tick">
                                <a href="#">
                                    <img runat="server" src="~/Content/svg/tick_off.svg" alt="Töröl" width="25" height="25" /></a>
                            </div>
                        </div>
                        <div class="resultpictures">
                            @*                            <img runat="server" src="~/Content/recipe_images/sajtban-sult-tojas_01.jpg" alt="Sajtban sült tojás - kép 01" width="100" />
                            <img runat="server" src="~/Content/recipe_images/sajtban-sult-tojas_02.jpg" alt="Sajtban sült tojás - kép 02" width="100" />*@
                        </div>
                        <div class="resultbody">
                            <div class="resultfooter">
                                <img runat="server" src="~/Content/svg/stars_35.svg" alt="3.5 csillag" width="111" height="20" />
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="resultbox">
                        <div class="resulthead">
                            <div class="category">
                                <img runat="server" src="~/Content/svg/cat_maindish.svg" alt="Sertés" width="45" height="30" />
                            </div>
                            <div class="title">
                                Cézár saláta
                            </div>
                            <div class="tick">
                                <a href="#">
                                    <img runat="server" src="~/Content/svg/tick_off.svg" alt="Töröl" width="25" height="25" /></a>
                            </div>
                        </div>
                        <div class="resultpictures">
                            @*                            <img runat="server" src="~/Content/recipe_images/cezar-salata_01.jpg" alt="Cézár saláta - kép 01" width="100" />
                            <img runat="server" src="~/Content/recipe_images/cezar-salata_02.jpg" alt="Cézár saláta - kép 02" width="100" />*@
                        </div>
                        <div class="resultbody">
                            <div class="resultfooter">
                                <img runat="server" src="~/Content/svg/stars_45.svg" alt="4.5 csillag" width="111" height="20" />
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="resultbox">
                        <div class="resulthead">
                            <div class="category">
                                <img runat="server" src="~/Content/svg/cat_maindish.svg" alt="Sertés" width="45" height="30" />
                            </div>
                            <div class="title">
                                Pizza
                            </div>
                            <div class="tick">
                                <a href="#">
                                    <img runat="server" src="~/Content/svg/tick_off.svg" alt="Töröl" width="25" height="25" /></a>
                            </div>
                        </div>
                        <div class="resultpictures">
                            @*                            <img runat="server" src="~/Content/recipe_images/pizza_01.jpg" alt="Pizza - kép 01" width="100" />
                            <img runat="server" src="~/Content/recipe_images/pizza_02.jpg" alt="Pizza - kép 02" width="100" />*@
                        </div>
                        <div class="resultbody">
                            <div class="resultfooter">
                                <img runat="server" src="~/Content/svg/stars_50.svg" alt="2.5 csillag" width="111" height="20" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </details>
        <hr class="double" />
    </div>
    <div id="_RecipeSearchResults">
        @{ Html.RenderPartial("_RecipeSearchResultHead"); }
    </div>
</article>
