@using MrKupido.Web.Models
@{
    ViewBag.Title = MrKupido.Web.Resources.Home.Index.PageTitle + " - " + MrKupido.Web.Resources.Shared.Layout.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@this.ScriptBlock(
    @<script type="text/javascript">

         var tipsTimer = new wTimer({
             fps: 0.05,
             run: function () {
                 nextTipsAndTricks();
             }
         });

         $(document).ready(function () {
             deleteFilter("");
             tipsTimer.start();
         });

         function nextTipsAndTricks() {
             // show tips and tricks
             $.ajax({
                 url: '@Url.Action("GetTipsNTricks", "Home")',
                type: "POST",
                dataType: "json",
                data: {},
                success: function (tipsAndTricksText) {
                    var htmlStr = "";

                    if (tipsAndTricksText[0] == "B") {
                        htmlStr += "<img runat=\"server\" src=\"./Content/svg/tnt_idea.svg\" width=\"24\" height=\"32\" />";
                    } else if (tipsAndTricksText[0] == "Q") {
                        htmlStr += "<img runat=\"server\" src=\"./Content/svg/tnt_question.svg\" width=\"24\" height=\"32\" />";
                    } else if (tipsAndTricksText[0] == "S") {
                        htmlStr += "<img runat=\"server\" src=\"./Content/svg/tnt_smile.svg\" width=\"24\" height=\"32\" />";
                    } else if (tipsAndTricksText[0] == "E") {
                        htmlStr += "<img runat=\"server\" src=\"./Content/svg/tnt_exclamation.svg\" width=\"24\" height=\"32\" />";
                    }

                    htmlStr += "<span>";
                    htmlStr += tipsAndTricksText.substring(1);
                    htmlStr += "</span>";

                    if ($("#tipsandticks").html().length > 10) {
                        $("#tipsandticks").animate({ opacity: '0' }, 1000, function () {
                            $("#tipsandticks").html(htmlStr).animate({ opacity: '1' }, 1000);
                        });
                    } else {
                        $("#tipsandticks").css({ opacity: 0.0 }).html(htmlStr).animate({ opacity: '1' }, 1000)
                    }
                }, // success
                error: function (xhr, textStatus, errorThrown) {
                    $("#tipsandticks").hide();
                }
            }); // ajax
         }

         var loadingTimer = null;
         var loadingTimerCounter = 0;

         function loadingStart() {
             if (loadingTimer == null) {
                 loadingTimer = new wTimer({
                     fps: 4,
                     run: function () {
                         loadingNextStep(loadingTimerCounter);
                         loadingTimerCounter = (loadingTimerCounter + 1);
                         if (loadingTimerCounter >= 6) loadingTimerCounter %= 6;
                     }
                 });
             }

             $("details#searchresults ul").html("<li class='disabled loading'></li><li class='disabled loading'></li><li class='disabled loading'></li><li class='disabled loading'></li><li class='disabled loading'></li><li class='disabled loading'></li>");
             $("details#searchresults li").css({ opacity: 0.0 })
             loadingTimerCounter = -6;
             loadingTimer.start();
         }

         function loadingStop() {
             loadingTimer.stop();
             loadingTimer.run = null;
             loadingTimer = null;
         }

         function loadingNextStep(index) {
             var cardOrder = new Array(0, 0, 0, 0, 0, 0, 1, 2, 3, 6, 5, 4, 1, 2, 3, 6, 5, 4, 1, 2, 3, 6, 5, 4);
             index += 12;
             
             var selectorAll = "details#searchresults li";

             var selector = selectorAll + ":nth-child(" + cardOrder[index] + ")";
             $(selector).css({ opacity: 0.40 });

             index--;
             var selector = selectorAll + ":nth-child(" + cardOrder[index] + ")";
             $(selector).animate({ opacity: '0.30' }, 250, "easeInOutCubic");

             index--;
             var selector = selectorAll + ":nth-child(" + cardOrder[index] + ")";
             $(selector).animate({ opacity: '0.20' }, 250, "easeInOutCubic");

             index--;
             var selector = selectorAll + ":nth-child(" + cardOrder[index] + ")";
             $(selector).animate({ opacity: '0.10' }, 250, "easeInOutCubic");

             index--;
             var selector = selectorAll + ":nth-child(" + cardOrder[index] + ")";
             $(selector).animate({ opacity: '0.00' }, 250, "easeInOutCubic");
         }

         var animateHide = false;

         function hideAllResults() {
             $("details#searchresults li").css({ opacity: 1.0 }).animate({ opacity: '0' }, animateHide ? 750 : 150, "easeInOutCubic").promise().done(function()
             {
                 loadingStart();
             });
             animateHide = true;
         }

         function showAllResults() {
             loadingStop();
             $("details#searchresults li").css({ opacity: 0.0 }).animate({ opacity: '1' }, 750, "easeInOutCubic");
         }

         var searchInProgress = false;

         function doSearch(maxResult) {
             if (searchInProgress) return;
             searchInProgress = true;

             hideAllResults();
             $.ajax({
                 url: '@Url.Action("Search", "Home")',
                type: "POST",
                dataType: "html",
                data: {
                    maxResult: maxResult
                },
                success: function (data) {
                    $("details#searchresults li").promise().done(function () {
                        $('div#_RecipeSearchResults').html(data);
                        showAllResults();
                        searchInProgress = false;
                    });
                }, // success
                error: function (xhr, textStatus, errorThrown) {
                    searchInProgress = false;
                } // error
            });   // ajax
            $("#query").focus();
        }
    </script>
)
<header>
    @{ Html.RenderPartial("_SearchHeader"); }
</header>
<article>

    <hr class="single" />
    <div id="tipsandticks" class="tipsandticks">
    </div>
    <div id="_RecipeSearchResults">
        @{ Html.RenderPartial("_RecipeSearchResultHead"); }
    </div>
</article>
