@{
    ViewBag.Title = "Unsupported browser - Mr. Kupido";
}
<header class="nosearch">
    <a runat="server" href="~/">
        <img runat="server" src="~/Content/svg/mrkupidologo.svg" alt="Mr. Kupido" width="400" height="304" />
    </a>
</header>
<div>
    <details id="browser" open class="alwaysopen">
        <summary>
            <h1>
                Böngészö frissítés</h1>
            <h3>
                Kérlek frissítsd a böngésződet az alábbi címek valamelyikén!</h3>
        </summary>
        <hr class="space" />
        <ul>
            <li>
                <a href="http://www.google.com/chrome">Google Chrome
                <img runat="server" src="~/Content/svg/browser_chrome.svg" alt="Google Chrome" width="230px" height="190px" /></a> </li>
            <li>
                <a href="http://www.mozilla.com/firefox/">Firefox
                <img runat="server" src="~/Content/svg/browser_firefox.svg" alt="Firefox" width="230px" height="190px" /></a> 
            </li>
            <li>
                <a href="http://www.microsoft.com/windows/Internet-explorer/default.aspx">Internet Explorer
                <img runat="server" src="~/Content/svg/browser_ie.svg" alt="Internet Explorer" width="230px" height="190px" /></a> 
            </li>
            <li>
                <a href="http://www.apple.com/safari/download/">Apple Safari
                <img runat="server" src="~/Content/svg/browser_safari.svg" alt="Apple Safari" width="230px" height="190px" /></a> 
            </li>
            <li>
                <a href="http://www.opera.com/download/">Opera
                <img runat="server" src="~/Content/svg/browser_opera.svg" alt="Opera" width="230px" height="190px" /></a> 
            </li>
            <li>
                <a href="https://play.google.com/store/apps/details?id=org.mozilla.firefox">Android Browser
                <img runat="server" src="~/Content/svg/browser_android.svg" alt="Android Browser" width="230px" height="190px" /></a> 
            </li>
        </ul>
    </details>
</div>
<div class="formbuttons">
    <input type="submit" value="Továbblépek frissítés nélkül >>" />
</div>