@using MrKupido.Web.Models

<header class="nosearch">
    <a runat="server" href="~/@Session["Language"]">
        <img runat="server" src="~/Content/svg/logo_mrkupido_wide.svg" alt="Mr. Kupido" width="600" height="157" />
    </a>
</header>