@model MrKupido.Web.Core.Models.RecipeSearchResultItem[]
@using MrKupido.Web.Core.Models
<ul>
    @{MrKupido.Web.Core.Models.RecipeSearchResultItem[] rsri = (Model == null ? new MrKupido.Web.Core.Models.RecipeSearchResultItem[0] : Model);}
    @for (int i = 0; i < rsri.Length; i++)
    { 
        <li id="@rsri[i].UniqueName.Replace("[","_").Replace("]","_")">
            @{ Html.RenderPartial("_RecipeSearchResultSideB", rsri[i]); }
        </li>
    }

    @for (int j = rsri.Length; j < 6; j++)
    { 
        <li class="disabled"></li>
    }
</ul>
