@{
    ViewBag.Title = "FeatureGuideLevel1";
}

@{ Html.RenderPartial("_HelpHeader"); }

<article class="help">

    <h1>Funkciók részletes leírása - 1-es szint</h1>

    <h2>Hamarosan...</h2>

    <ul>
        <li>A főoldal szerkezete</li>
        <li>Keresés</li>
        <li>Találati lista</li>
        <li>Recept megnyitása</li>
        <li>Bejelentkezés</li>
        <li>Menü használata</li>
    </ul>

</article>
