@{
    ViewBag.Title = MrKupido.Web.Resources.Help.VersionChangeLog020.PageTitle + " - " + MrKupido.Web.Resources.Shared.Layout.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("_HelpHeader"); }

<article class="help poll">
    <h1>Mr. Kupidó kérdőív</h1>


    <p>
        Mr. Kupidó egy jelenleg induló weboldal, amit fejlesztünk.<br />
        A kérdőív lényege, hogy kiderítsük, kinek mi az igazán fontos egy receptoldalon, milyen irányba folytatódjanak a fejlesztések.<br />
        Az oldal már látható a http://www.mrkupido.com címen.<br />
    </p>

    <h2>Teszt</h2>

    <span>Milyen gyakran főzöl otthon?</span>
    <div id="cook">
        <input id="cook1" name="language" type="radio" value="cook1" /><label for="cook1">Naponta</label>
        <input id="cook2" name="language" type="radio" value="cook2" /><label for="cook2">2-3 naponta</label>
        <input id="cook3" name="language" type="radio" value="cook3" /><label for="cook3">Hetente 1-2-szer</label>
        <input id="cook4" name="language" type="radio" value="cook4" /><label for="cook4">Ritkábban</label>
    </div>

    <div id="internet">
        <span>Használod az Internetet főzés előtt? Ha igen, mely oldalakat nézed?</span>
        <input type="text" />
    </div>

    <div id="function">
        <span>Mi tetszik és mi nem ezeken az oldalakon? Mely funkciókat használod?</span>
        <input type="text" height="6" />
    </div>

    <div id="yeast">
        <span>Hogyan készül a felfuttatott élesztő?</span>

        <input name="yeast" type="radio" /><label>Veszek gombát, spóráztatom, és tejbe rakom</label>
        <input name="yeast" type="radio" /><label>Veszek egy halasztót, újraélesztem, és megfuttattom</label>
        <input name="yeast" type="radio" /><label>Cukros tejbe belemorzsolom az bolti élesztőt és meleg helyre rakom</label>
        <input name="yeast" type="radio" /><label>Bolti élesztőt kirakom a napra, és megvárom amíg szépen erjedni kezd</label>
    </div>
    <div id="cookie">
        <span>Hogyan sütnél sütit? (ideális esetben)</span>
        <input name="cookie" type="radio" /><label>Instant porból kikeverem, majd egy lábosban összerottyantom</label>
        <input name="cookie" type="radio" /><label>Összegyúrt tésztát kinyújtom, megpaskolom, majd addig ütlegelem, amíg meg nem puhul</label>
        <input name="cookie" type="radio" /><label>A tésztát tepsiben, gázos sütőben felülre helyezve, 250 fokon</label>
        <input name="cookie" type="radio" /><label>Villany sütőben, középen, légkeverés nélkül 180 fokon</label>
    </div>
    <div id="rantas">
        <span>Mi a rántás?</span>
        <input name="rantas" type="radio" /><label>Olyan mint a szakítás, csak nem olyan szomorú</label>
        <input name="rantas" type="radio" /><label>Lisztből készült olajos massza, tipikusan főzelékhez</label>
        <input name="rantas" type="radio" /><label>Az, amikor beindítom a láncfűrészt</label>
        <input name="rantas" type="radio" /><label>Tojás megsütése olajon</label>
    </div>

    <h2>Kutatás</h2>

    <div id="login">
        <span>Van Facebook, Google vagy Windows Live fiókod?</span>
        <input name="rantas" type="radio" /><label>Igen, van</label>
        <input name="rantas" type="radio" /><label>Nincs</label>
    </div>
    <div id="phone">
        <span>Használnál-e telefonos segítségkérést a receptek elkészítéséhez?</span>
        <input name="phone" type="radio" /><label>Nem</label>
        <input name="phone" type="radio" /><label>Igen, de csak ha ingyenes</label>
            <input name="phone" type="radio" /><label>Igen, ha elakadok, akár fizetős telefonszámon is</label>
            <input name="phone" type="radio" /><label>Igen, de csak akkor, ha egy mesterszakáccsal beszélhetek</label>
    </div>
    <div id="price">
        <span>Hasznosnak találnád-e, ha a recept mellett ott lenne az ára?</span>
        <input name="price" type="radio" /><label>Nem hiszem, hogy érdekelne</label>
        <input name="price" type="radio" /><label>Igen, bár lehet, hogy csak érdekességképpen</label>
        <input name="price" type="radio" /><label>Igen, sőt, ha ezzel tudok spórolni, akkor megérne nekem egy kisebb összeget is havonta, hogy lássam</label>
    </div>
    <div id="ownrecipe">
        <span>Fontos lenne-e számodra, hogy saját receptjeidet is lásd az oldalon?</span>
        <input name="ownrecipe" type="radio" /><label>Nem, azokat nem szeretném megosztani</label>
        <input name="ownrecipe" type="radio" /><label>Igen, jó lenne feltölteni, de az már nem érdekel másnak tetszik-e</label>
        <input name="ownrecipe" type="radio" /><label>Igen, és azt is jó lenne látni, hogy sok ember megcsinálja és dicséri</label>

    </div>
    <div id="money">
        <span>Érdekelne-e olyan pénzkeresési lehetőség, hogy otthonról másokra is főzhetnél?</span>
        <input name="money" type="radio" /><label>Nem, nincs nekem időm ilyesmire</label>
        <input name="money" type="radio" /><label>Nem, idegeneknek nem szívesen</label>
        <input name="money" type="radio" /><label>Talán, ha megbízható embereknek főznék</label>
        <input name="money" type="radio" /><label>Igen, végül is mindegy kinek, a lényeg, hogy fizesse ki</label>
        <input name="money" type="radio" /><label>Nagyon jó lenne, biztos szívesen csinálnám főállásban is</label>
    </div>

    <h2>Adatok</h2>

    <div id="name">
        <span>Keresztneved?</span>
        <input type="text" />
    </div>
    <div id="email">
        <span>E-mail cimed? (maximum havi egyszer küldünk levelet a számodra is hasznos újdonságokról)</span>
        <input type="text" />
</article>
