@{
    ViewBag.Title = "PrivacyPolicy";
}

    @{ Html.RenderPartial("_HelpHeader"); }

<hr class="single" />
<article class="help">
    <div class="white_panel">
        <div class="headline">
            <h1>Adatvédelmi nyilatkozat</h1>
        </div>
        <div class="text">
            <p>
                Mi, a MrKupido.com üzemeltetői rendkívül fontosnak tartjuk, hogy a tőled elkért vagy az általad generált személyes adatokat a törvényeknek és kívánságodnak megfelelően kezeljük.
            </p>

            <p>
                Ezen az oldalon a jövőben is mindig megtalálhatod, mit, miért és hogyan tárolunk. 
            </p>

            <h3>A rögzített adatok és felhasználásuk</h3>
            <p>
                A MrKupido.com három esetben rögzít személyes adatot: a böngészés során, regisztrációkor, és fizetéskor.
            </p>

            <h5>Böngészés</h5>
            <p>Látogatásodat a Google Analytics statisztikai szoftverével rögzítjük. A rögzített adatok kezeléséről többet is megtudhatsz a <a href="http://www.google.com/intl/hu/privacypolicy.html" target="_blank">Google adatvédelmi irányelvei</a> segítségével.</p>

            <p>Saját statisztikai rendszerünk IP címed és a látogatásodat azonosító cookie-t rögzíti.</p>

            <h5>Regisztráció és profil</h5>
            <p>A regisztrációkor megadott személyes adataidat, beleértve a belépve elvégezhető funkciók által generált adatokat eltároljuk.</p>

            <h5>Fizetés és számlázás</h5>
            <p>A regisztrációkor megadott személyes adataidon kívül fizetéskor lehetőséged van eltérő számlázási adatok megadására. Ezeket az adatokat számlázórendszerünk eltárolja.</p>

            <h3>Adatok törlése</h3>
            <p>Ha szeretnéd fiókodat megszüntetni, kérésedre azt, és minden hozzá kapcsolódó adatot törlünk.</p>

            <p>Utoljára módosítva 2013. február 26-án</p>
        </div>
    </div>
</article>
