@{
    ViewBag.Title = "TermsOfUse";
}

@{ Html.RenderPartial("_HelpHeader"); }

<hr class="single" />
<article class="help">
    <h1>Általános Szerződési Feltételek</h1>

    <p>Fuchs András által üzemeltetett MrKupido.com weboldalon („weboldal”) található szolgáltatások használatával az alábbi feltételeket fogadod el:</p>

    <p>Időnként akár értesítés nélkül is frissíthetjük az itt található feltételeket, ha azok nem érinthetnek téged hátrányosan. Az ÁSZF aktuális állapota mindig elérhető itt: <a runat="server" href="~/xxx/help/TermsOfUse">http://www.mrkupido.com/help/termsofuse</a></p>

    <h3>A regisztráció feltételei</h3>
    <ol>
        <li>A teljes és valós nevedet add meg.</li>
        <li>Egy fiókot csak egy személy használhat.</li>
        <li>A jelszavad biztonságáért kizárólag te felelsz.</li>
        <li>Az általad feltöltött tartalmakért kizárólag te felelsz, beleértve a fiókod alá tartozó fiókokat is.</li>
        <li>Nem használhatod a fiókodat semmilyen illegális tevékenységre.</li>
    </ol>


    <h3>A fizetés módja</h3>
    <p>A fiókodhoz tartozó egyenleget banki átutalással, bankkártyával vagy BitCoinnal tudod feltölteni. A feltöltés tetszőleges összegű lehet, de legalább nettó 10 000 forint kell, hogy legyen. Az egyenlegeden a feltöltés nettó összege kerül jóváírásra. A befizetésről elektronikus számlát állítunk ki, amit fiókodban bármikor letölthetsz.</p>

    <h3>A weboldal és az árazás módosítása</h3>
    <ol>
        <li>Fenntartjuk a jogot, hogy időről időre módosítsuk a weboldalt (akár annak egyes részeinek törlésével), előzetes értesítéssel vagy anélkül.</li>
        <li>Fenntartjuk a jogot arra is, hogy a weboldal árazását tetszőlegesen módosítsuk. </li>
    </ol>

    <h3>Felmondás</h3>
    <p>A regisztrációval létrejött szerződést bármelyik fél, bármikor, bármilyen indokkal felmondhatja. Az egyenlegeden lévő összeget azonban ilyen esetben nem áll módunkban visszatéríteni. Felmondáskor minden általad feltöltött tartalmat saját belátásunk szerint törölhetünk.</p>

    <h3>Szerzői jogok</h3>
    <ol>
        <li>Minden általad feltöltött tartalomnak (a fényképeknek is) meg kell felelnie a vonatkozó szerzői jogi törvényeknek. Ennek betartása kizárólag a te felelősséged.</li>
        <li>Nem tartunk igényt szerzői jogokra az általad feltöltött tartalmakra.</li>
        <li>A weboldal tartalmi és formai elemei szerzői jogi védelem alatt állnak, azok másolása csak előzetes írásbeli engedélyünkkel lehetséges.</li>
    </ol>

    <h3>Általános feltételek</h3>
    <ol>
        <li>Fenntartjuk a jogot, hogy bármilyen általad feltöltött tartalmat saját belátásunk szerint törölhessünk, akár felhasználói fiókodat is.</li>
        <li>A weboldalt saját felelősségedre használhatod, a felhasználásból, vagy annak hiányából eredő direkt vagy indirekt károkért semmilyen felelősséggel nem tartozunk.</li>
        <li>A weboldalon megjelenő adatok, információk és képek valóságtartalmáért semmilyen felelősséget nem vállalunk.</li>
        <li>Elfogadod, hogy a weboldal üzemeltetéséhez alvállalkozókat alkalmazhatunk.</li>
        <li>A weboldal szolgáltatásait semmilyen formában nem árulhatod vagy értékesítheted tovább.</li>
        <li>Nem garantáljuk, hogy a weboldal mindig elérhető és hibamentes, és bár felmerülő hibák kijavításáért mindent megteszünk, azok kijavítását sem garantáljuk.</li>
    </ol>

    <p>Utoljára módosítva 2013. február 26-án</p>
</article>
