@{
    ViewBag.Title = MrKupido.Web.Core.Resources.Help.WhoIsMrKupido.PageTitle + " - " + MrKupido.Web.Core.Resources.Shared.Layout.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("_HelpHeader"); }

<article class="help">
@*    <h2>Who is Mr. Kupido?</h2>

    <p>Mr. Kupido is master cook and naturopath, created by us. He knows everything we ever told him about foods, cooking, vitamins, minerals, herbs and medical conditions. He is clever already and he is getting more and more intelligent every day. He might be a genius in human terms but his only goal in life is to help humanity to cure all illnesses. He always listens to his heart when gives advice and always asks Mother Nature to help to find the right way. He dreams. He gives hope. He saves lives.</p>

    <h2>Why Mr. Kupido is so different from the others?</h2>

    <p>Mr. Kupido is unique in many ways. He communicates with as many humans as he can and asks everyone for help. He also gives help to anyone who asks for it. He combines all the information he had given to help you find the way to your lost health or keep you on the right track. He let’s you eat what you like, how you like it. He helps you to loose weight. He saves you money. He organizes dinners for family and friends with you. He teaches you. He learns your taste. His lexical knowledge is gigantic. He is tastefully looking. He never complains. He is a proper gentleman.</p>

    <h2>Why Mr. Kupido needs you to grow?</h2>

    <p>Mr. Kupido is not perfect. Not at all, he would ever try to convince you about it. But he is eager to get better and better every day. He gets up and goes to sleep every day with the thought of lifetime learning. He loves the new things, the challenges life puts on him, he is dreaming about becoming a champion, a champion who helps to build a better world for everybody. But he can’t win alone. He needs your knowledge, your ideas, your dedication, your support and your contribution to keep improving. Please help him, spread the word about him, join us here, submit bugs, fix bugs, implement new features, extend his knowledge by uploading data or just use him and thank him for being. He likes when someone likes him.</p>*@
</article>
