@model IEnumerable<string>
<section id="basicrecipe">
    <ol>
        @if (Model != null)
        {
            foreach (string item in Model)
            {
            <li>
                @foreach (string s in item.Split(new string[] { " ", "&nbsp;" }, StringSplitOptions.RemoveEmptyEntries))
                {
                    <span>@s</span>
                }
            </li>
            }
        }
    </ol>
</section>