@model IEnumerable<string>
<section id="basicrecipe">
    <ol>
        @if (Model != null)
        {
            foreach (string item in Model)
            {
            <li>
                @item
            </li>
            }
        }
    </ol>
</section>