@{
    ViewBag.Title = "Format Ingredients";
}
<header class="nosearch">
    <a runat="server" href="~/">
        <img runat="server" src="~/Content/svg/mrkupidologo.svg" alt="Mr. Kupido" width="400" height="304" />
    </a>
</header>
<details id="formatingredients" open class="alwaysopen">
    <summary>
        <h1>
            Hozzávalók formázása</h1>
    </summary>
    <div id="languages" class="boxed">
        <h2>
            1. Válassz nyelvet</h2>
        @*<div style="display: none">
                <input type="radio" name="languageGroup" id="hun" value="hun" />
                <label for="hun">
                    Hungarian</label>
                <input type="radio" name="languageGroup" id="eng" value="eng" />
                <label for="eng">
                    English</label>
          </div>*@
        <select id="language" autofocus>
            <option value="eng">English</option>
            <option value="hun">Hungarian</option>
        </select>
    </div>
    <div id="recipelist" class="boxed">
        <h2>
            2. Válassz receptet</h2>
        <div id="_ImportedRecipeList">
            <select id="recipes" size="5">
            </select>
        </div>
    </div>
    <div id="ingredientlist" class="boxed">
        <h2>
            3. Módosítsd a hozzávalók listáját</h2>
        <div id="_IngredientList">
            @{ Html.RenderPartial("_IngredientList"); }
        </div>
    </div>
    <div id="ingredienttable" class="boxed">
        <h2>
            4. Ellenőrízd, hogy minden összetevő helyesen szerepel-e a táblában</h2>
        <div id="_IngredientTable">
            @{ Html.RenderPartial("_IngredientTable"); }
        </div>
    </div>
    <div id="originalrecipe" class="boxed">
        <h2>
            5. A recept eredeti szövege</h2>
        <div id="_OriginalRecipe">
            @{ Html.RenderPartial("_OriginalRecipe"); }
        </div>
    </div>
    <div id="recipeeditor" class="boxed">
        <h2>
            6. Ird át úgy a receptet, hogy ne legyen benne értelmezhetetlen kifejezés</h2>
        <div id="_RecipeEditor">
            @{ Html.RenderPartial("_RecipeEditor"); }
        </div>
    </div>
    <div id="basicrecipe" class="boxed">
        <h2>
            7. A gépiesített szöveg, amit feldolgozunk</h2>
        <div id="_BasicRecipe">
            @{ Html.RenderPartial("_BasicRecipe"); }
        </div>
    </div>
    <div id="recipecode" class="boxed">
        <h2>
            8. A generált programkód, amit be lehet illeszteni</h2>
        <div id="_RecipeCode">
            
        </div>
    </div>
</details>

<div id="confirmSave" title="Hozzávalók mentése">
    El akarod menteni a változtatásaidat?</div>

<div id="confirmRecipeSave" title="Recept mentése">
    El akarod menteni a változtatásaidat?</div>

<script type="text/javascript">
    var $textChanged = false;
    var $prevRecipeUniqueName = "";
    var $recipeUniqueName = "";
    var $prevIngredients = "";
    var $ingredients = "";

    $.ajaxSetup({
        type: 'POST',
        contentType: "application/json; charset=utf-8",
        dataType: 'html',
        cache: false
    });

    $(document).ready(function () {

        $('select#language').on('change.kupido', function () {
            var langISO = $(this).val();
            $(this).attr('disabled', 'disabled');

            $.ajax({
                url: 'LoadImportedRecipes',
                data: JSON.stringify({ langISO: langISO }),
                success: function (result) {
                    $('div#_ImportedRecipeList').html(result);
                    $('select#language').removeAttr('disabled');

                    attachEventHandlerToImportedRecipeList();
                }
            });
        });

        $("div#confirmSave").dialog({ modal: true, resizable: false, autoOpen: false, buttons: [
                {
                    text: "Yes",
                    click: function () {
                        $("div#confirmSave").dialog("option", "title", "Mentés folyamatban...");

                        $.ajax({
                            url: 'SaveIngredientList',
                            data: JSON.stringify({ recipeUniqueName: $prevRecipeUniqueName, ingredients: $prevIngredients }),
                            success: function (result) {
                                $("div#confirmSave").dialog("close");
                                $("div#confirmSave").dialog("option", "title", "Hozzávalók mentése");
                            }
                        });
                    }
                },
                {
                    text: "No",
                    click: function () { $(this).dialog("close"); }
                }
            ],
            close: function (event, ui) {
                $('select#recipes').focus();
            }
        });

        $("div#confirmRecipeSave").dialog({ modal: true, resizable: false, autoOpen: false, buttons: [
            {
                text: "Yes",
                click: function () {
                    $("div#confirmRecipeSave").dialog("option", "title", "Mentés folyamatban...");

                    $.ajax({
                        url: 'SaveRecipeDirections',
                        data: JSON.stringify({ recipeUniqueName: $recipeUniqueName, directions: $("section#recipeeditor").html() }),
                        success: function (result) {
                            $("div#confirmRecipeSave").dialog("close");
                            $("div#confirmRecipeSave").dialog("option", "title", "Recept mentése");
                        }
                    });
                }
            },
            {
                text: "No",
                click: function () { $(this).dialog("close"); }
            }
        ]
        });

        $("div#confirmRecipeSave").bind('dialogclose', function(event) {
            $('select#recipes').trigger('change');
        });

    });

    function attachEventHandlerToImportedRecipeList() {
        $('select#recipes').on('change.kupido', function () {
            $prevRecipeUniqueName = $recipeUniqueName;
            $recipeUniqueName = $(this).val();

            if ($textChanged) {
                $("div#confirmSave").dialog("open");
            }

            $(this).attr('disabled', 'disabled');

            $.ajax({
                url: 'LoadIngredients',
                data: JSON.stringify({ recipeUniqueName: $recipeUniqueName }),
                success: function (result) {
                    $('div#_IngredientList').html(result);
                    $('select#recipes').removeAttr('disabled');

                    attachEventHandlerToIngredientList();
                    $('textarea#ingredients').trigger('change');
                    $textChanged = false;
                }
            });

            $.ajax({
                url: 'LoadOriginalRecipe',
                data: JSON.stringify({ recipeUniqueName: $recipeUniqueName }),
                success: function (result) {
                    $('div#_OriginalRecipe').html(result);
                }
            });

            $.ajax({
                url: 'LoadDirections',
                data: JSON.stringify({ recipeUniqueName: $recipeUniqueName }),
                success: function (result) {
                    $('div#_RecipeEditor').html(result);
                    $('select#recipes').removeAttr('disabled');
                }
            });

        });
    }

    function attachEventHandlerToIngredientList() {
        $('textarea#ingredients').on('change.kupido', function () {
            $prevIngredients = $ingredients;
            $ingredients = $('textarea#ingredients').val();

            $textChanged = true;
            $('textarea#ingredients').attr('disabled', 'disabled');

            $.ajax({
                url: 'LoadIngredientTable',
                data: JSON.stringify({ langISO: $('select#language').val(), ingredients: $ingredients }),
                success: function (result) {
                    $('div#_IngredientTable').html(result);
                    $('textarea#ingredients').removeAttr('disabled');
                }
            });
        });
    }
</script>
