@model object[]
@{
    ViewBag.Title = "Trees of Mr. Kupido";
}


<header class="nosearch">
    <a runat="server" href="~/">
        <img runat="server" src="~/Content/svg/mrkupidologo.svg" alt="Mr. Kupido" width="400" height="304" />
    </a>
</header>
<details open class="alwaysopen">
    <summary>
        <h1>
            Taxonómia</h1>
    </summary>
</details>
   @{ Html.RenderPartial("_TaxonomyTree", Model[0]); }

<details open class="alwaysopen">
    <summary>
        <h1>
            Hozzávalók</h1>
    </summary>
</details>
   @{ Html.RenderPartial("_IngredientTree", Model[1]); }

<details open class="alwaysopen">
    <summary>
        <h1>
            Receptek</h1>
    </summary>
</details>
   @{ Html.RenderPartial("_RecipeTree", Model[2]); }

<details open class="alwaysopen">
    <summary>
        <h1>
            Eszközök</h1>
    </summary>
</details>
   @{ Html.RenderPartial("_EquipmentTree", Model[3]); }
