@model MrKupido.Processor.Model.RuntimeIngredient[]
@if (Model == null)
{
    <span class="unknown">A hozzávalók jelenleg ismeretlenek</span>
}
else
{ 
    for (int i=0; i < Model.Length;)
    {                         
        string currentRecipeName = Model[i].RecipeUniqueName;
             
        if (currentRecipeName != Model[0].RecipeUniqueName)
        {
            <div class="ingredientlistrecipename">
                @Model[i].RecipeName
            </div>
        }        
        
        <ul class="ingredientlist">   
                
        @while ((i < Model.Length) && (currentRecipeName == Model[i].RecipeUniqueName))
        {            
            <li class="ingredientlistitem">
                <input type="checkbox" id="ing_@Model[i].TreeNode.UniqueName" name="@Model[i].TreeNode.UniqueName" value="@Model[i].TreeNode.UniqueName" checked="checked">
                <label for="ing_@Model[i].TreeNode.UniqueName">@Model[i].Ingredient.ToString((string)Session["Language"])</label>
                <a href="#" style="display: none;"><img runat="server" id="ing-menu-trigger" src="~/Content/svg/icon_menutrigger.svg" alt="Menu" width="11" height="9" /></a>
            </li>
            
            i = i + 1;
        }
            
        </ul>
    }

}