@model MrKupido.Library.IIngredient[]
@if (Model == null)
{
    <span class="unknown">A hozzávalók jelenleg ismeretlenek</span>
}
else
{ 
    <ul>
        @foreach (MrKupido.Library.IIngredient ing in Model)
        { 
            <li>
                @*<input type="checkbox" name="@ing.Name" value="@ing.Name">*@
                <img runat="server" src="~/Content/svg/tick_off.svg" width="16" height="16" />
                @ing<a href="#"><img runat="server" id="ing-menu-trigger" src="~/Content/svg/usermenu.svg" alt="Menu" width="11" height="9" /></a>
            </li>
        }
    </ul>
}