@model MrKupido.Library.IIngredient[]
@if (Model == null)
{
    <span>A hozzávalók jelenleg ismeretlenek</span>
}
else
{ 
    <ul>
        @foreach (MrKupido.Library.IIngredient ing in Model)
        { 
            <li>@ing</li>
        }
    </ul>
}