@model MrKupido.Library.IIngredient[]
@if (Model == null)
{
    <span class="unknown">A hozzávalók jelenleg ismeretlenek</span>
}
else
{ 
    <ul>
        @foreach (MrKupido.Library.IIngredient ing in Model)
        { 
            <li><input type="checkbox" name="@ing.Name" value="@ing.Name">@ing<a href="#">v</a></li>
        }
    </ul>
}