@model MrKupido.Library.IIngredient[]
@if (Model == null)
{
    <span class="unknown">A hozzávalók jelenleg ismeretlenek</span>
}
else
{ 
    <ul id="ingredientlist">
        @foreach (MrKupido.Library.IIngredient ing in Model)
        { 
            <li class="ingredientlistitem">
                <input type="checkbox" id="ing_@ing.Name" name="@ing.Name" value="@ing.Name" checked="checked">
                <label for="ing_@ing.Name">@ing</label>
                <a href="#" style="display: none;"><img runat="server" id="ing-menu-trigger" src="~/Content/svg/icon_menutrigger.svg" alt="Menu" width="11" height="9" /></a>
            </li>
        }
    </ul>


}