@model object[]
@{
    ViewBag.Title = "Details";
}
<header>
    @{ Html.RenderPartial("_SearchHeader"); }
</header>
<hr class="single" />
<article>
    <div class="tip">
        <p>
            <img runat="server" src="~/Content/svg/bulb.svg" alt="Tipp" width="21" height="30" />
            <span>Szűrőket használva leegyszerűsíthetjük a keresést. Próbálkozz hozzávalóval, diétával vagy az étel nevével.</span>
        </p>
    </div>
    <hr class="single" />
    <div class="question">
        <p>
            <img runat="server" src="~/Content/svg/question_mark.svg" alt="Kérdés" width="16" height="30" />
            <span><a href="#">Szeretnéd, ha személyre szabott porciókat ajánlanánk? Add meg a magasságod, súlyod és életkorod! >></a></span>
        </p>
    </div>
    <hr class="double" />
    <details id="recipe" open class="alwaysopen">
        <summary>
            <h1>
                @{string name = ((MrKupido.Processor.Model.RecipeTreeNode)Model[0]).LongName;}
                @name</h1>
            <hr class="single" />
            <h3>
                Betyár módra</h3>
            <hr class="single" />
        </summary>
        <div id="taglist">
            <div id="_RecipeTags">
                @*@{ Html.RenderPartial("_RecipeTags", Model[1]); }*@
            </div>
        </div>
        <hr />
        <div id="equipmentlist">
            <h2>
                Szükséges eszközök</h2>
            <h3>(2 eszközöd nincs)</h3>
            <div id="_RecipeEquipments">
                @*@{ Html.RenderPartial("_RecipeEquipments", (MrKupido.Library.IEquipment[])Model[2]); }*@
            </div>
        </div>
        <hr />
        <div id="ingredientlist">
            <h2>
                Hozzávalók</h2>
            <h3>(2 főre)</h3>
            <div id="_RecipeIngredients">
                @{ Html.RenderPartial("_RecipeIngredients", (MrKupido.Library.IIngredient[])Model[3], new ViewDataDictionary()); }
            </div>
        </div>
        <hr />
        <div id="directionlist">
            <h2>
                Elkészítés</h2>
            <h3>(egyedül)</h3>
            <div id="_RecipeDirections">
                @{ Html.RenderPartial("_RecipeDirections", (MrKupido.Library.IDirection[])Model[4], new ViewDataDictionary()); }
            </div>
        </div>
        <hr />
        <div id="serving">
            <h2>
                Tálalás</h2>
            <div id="_RecipeServing">
                @*@{ Html.RenderPartial("_RecipeServing", (MrKupido.Library.EquipmentGroup)Model[5]); }*@
            </div>
        </div>
        <hr />
        <div id="nutritionlist">
            <h2>
                Tápanyag táblázat (1 főre)</h2>
            <h3>(részeletes)</h3>
            <div id="_RecipeNutritions">
                @*@{ Html.RenderPartial("_RecipeNutritions", (MrKupido.Library.INutritionInfo[])Model[6]); }*@
            </div>
        </div>
    </details>
    <hr class="double" />
</article>
