@model object[]
@{
    ViewBag.Title = "Details";
}
<header>
    <img runat="server" src="~/Content/svg/mrkupidologo.svg" alt="Mr. Kupido" width="200" height="152" />
    <p class="userbar">
        @if (Session["CurrentUser"] == null)
        {
            <span id="login"><a runat="server" href="~/hun/Account/LogIn" onclick="_gaq.push(['_trackEvent', 'Profile', 'Login', '']);">Log in</a></span>
        }
        @if (Session["CurrentUser"] != null)
        {
            <span id="name"><a runat="server" href="~/hun/Account/Profile">@Session["CurrentUser.DisplayName"]</a></span><span id="messages">0</span>
            <img runat="server" src="~/Content/images/avatar.jpg" alt="Avatar" width="51" height="51" />
        }
        else
        { 
            <img runat="server" src="~/Content/svg/avatar.svg" alt="Avatar" width="51" height="51" />
        }
    </p>
    <div class="searchbox">
        <p class="inputfield">
            <label for="location">
                Helyszin:</label>
            <input id="location" type="text" placeholder="(jelenleg ismeretlen)" />
        </p>
        <p class="inputfield">
            <label for="query">
                Keresnivaló:</label>
            <input id="query" type="search" placeholder="(hozzávaló, diéta, eszköz)" autofocus />
        </p>
        <input id="search" type="submit" value="Keresés" onclick="_gaq.push(['_trackEvent', 'Search', 'Search', '+karalábé -pulyka']);" />
        <div id="deleteall">
            <input type="button" value="Mindent töröl" />
        </div>
        <div id="filters">
            <ul>
                <li>+ krumpli <a href="#">x</a></li>
                <li>+ liszt <a href="#">x</a></li>
                <li>+ cukor <a href="#">x</a></li>
                <li>- spenót <a href="#">x</a></li>
                <li>+ répa <a href="#">x</a></li>
                <li>+ csirke <a href="#">x</a></li>
                <li>- paprika <a href="#">x</a></li>
                <li>+ sütő <a href="#">x</a></li>
                <li>+ paleolit <a href="#">x</a></li>
                <li>- gesztenye <a href="#">x</a></li>
            </ul>
        </div>
    </div>
</header>
<hr class="single" />
<article>
    <div class="tip">
        <p>
            <img runat="server" src="~/Content/svg/bulb.svg" alt="Tipp" width="21" height="30" />
            <span>Szűrőket használva leegyszerűsíthetjük a keresést. Próbálkozz hozzávalóval, diétával vagy az étel nevével.</span>
        </p>
    </div>
    <hr class="single" />
    <div class="question">
        <p>
            <img runat="server" src="~/Content/svg/question_mark.svg" alt="Kérdés" width="16" height="30" />
            <span><a href="#">Szeretnéd, ha személyre szabott porciókat ajánlanánk? Add meg a magasságod, súlyod és életkorod! >></a></span>
        </p>
    </div>
    <hr class="double" />
    <details id="recipe" open class="alwaysopen">
        <summary>
            <h1>
                @(((MrKupido.Processor.Model.RecipeTreeNode)Model[0]).Name)</h1>
            <h3>
                Betyár módra</h3>
        </summary>
        <div id="taglist">
            <div id="_RecipeTags">
                @*@{ Html.RenderPartial("_RecipeTags", Model[1]); }*@
            </div>
        </div>
        <hr />
        <div id="equipmentlist">
            <h2>
                Szükséges eszközök</h2>
            <h3>(2 eszközöd nincs)</h3>
            <div id="_RecipeEquipments">
                @*@{ Html.RenderPartial("_RecipeEquipments", (MrKupido.Library.IEquipment[])Model[2]); }*@
            </div>
        </div>
        <hr />
        <div id="ingredientlist">
            <h2>
                Hozzávalók</h2>
            <h3>(2 főre)</h3>
            <div id="_RecipeIngredients">
                @{ Html.RenderPartial("_RecipeIngredients", (MrKupido.Library.IIngredient[])Model[3], new ViewDataDictionary()); }
            </div>
        </div>
        <hr />
        <div id="directionlist">
            <h2>
                Elkészítés</h2>
            <h3>(egyedül)</h3>
            <div id="_RecipeDirections">
                @{ Html.RenderPartial("_RecipeDirections", (MrKupido.Library.IDirection[])Model[4], new ViewDataDictionary()); }
            </div>
        </div>
        <hr />
        <div id="serving">
            <h2>
                Tálalás</h2>
            <div id="_RecipeServing">
                @*@{ Html.RenderPartial("_RecipeServing", (MrKupido.Library.EquipmentGroup)Model[5]); }*@
            </div>
        </div>
        <hr />
        <div id="nutritionlist">
            <h2>
                Tápanyag táblázat (1 főre)</h2>
            <h3>(részeletes)</h3>
            <div id="_RecipeNutritions">
                @*@{ Html.RenderPartial("_RecipeNutritions", (MrKupido.Library.INutritionInfo[])Model[6]); }*@
            </div>
        </div>
    </details>
    <hr class="double" />
</article>
