@{
    ViewBag.Title = "FeatureGuideLevel2";
}

@{ Html.RenderPartial("_HelpHeader"); }

<article class="help">

    <h1>Funkciók részletes leírása - 2-es szint</h1>

    <h2>Hamarosan...</h2>

</article>
