@{
    ViewBag.Title = MrKupido.Web.Resources.Help.Index.PageTitle + " - " + MrKupido.Web.Resources.Shared.Layout.HelpPageTitle;
}

@{ Html.RenderPartial("_HelpHeader"); }

<article class="help">
    <h1>Tartalomjegyzék</h1>

    <h3>Általános tudnivalók</h3>
    <ul>
        <li><a runat="server" href="~/xxx/help/WhoIsMrKupido">Ki is valójában Mr. Kupidó?</a></li>
        <li><a runat="server" href="~/xxx/help/FeatureGuideLevel1">Használati útmutató 1-es szint</a></li>
        <li><a runat="server" href="~/xxx/help/FeatureGuideLevel2">Használati útmutató 2-es szint</a></li>
        <li><a runat="server" href="~/xxx/help/PrivacyPolicy">Adatvédelmi nyilatkozat</a></li>
        <li><a runat="server" href="~/xxx/help/TermsOfUse">Általános Szerződési Feltételek</a></li>
    </ul>

    <h3>Béta tesztereknek</h3>
    <ul>
        <li><a runat="server" href="~/xxx/help/BetaTesterGuide">Útmutató a teszteléshez</a></li>
        <li><a runat="server" href="~/xxx/help/VersionChangeLog020">A 0.2-es verzió változásai</a></li>
    </ul>
</article>
