@{
    ViewBag.Title = MrKupido.Web.Resources.Help.VersionChangeLog020.PageTitle + " - " + MrKupido.Web.Resources.Shared.Layout.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("_HelpHeader"); }

<article class="help">
    <hr class="single" />
    <h1>Változások a 0.2-es verzióban</h1>
    <hr class="single" />
    
    <h2>2013-03-04</h2>
    <p>
        Rengeteg újítás történt a legutóbbi verzió óta, amelyek teljese listája <a href="https://github.com/andrasfuchs/MrKupido/issues?milestone=4">itt a GitHub-on</a> olvasható.
    </p>
    <p>
        Felsorolva, rövid magyarázattal ezek a főbb újdonságok:
    </p>
    <ol>
        <li><img runat="server" src="~/content/images/changelog020_location.png" width="128" height="128" />
            Mr. Kupidó megállapítja, hol tartózkodsz, abban az esetben, ha erre engedélyt adsz. A felismerés akkor működik jól, ha WiFi-n, vagy mobilon vagy, egyébként a szolgálatón múlik a helyes meghatározás, nem rajtunk.
        </li>
        <li><img runat="server" src="~/content/images/changelog020_tips.png" width="128" height="128" />
            Tippek és trükkök: az főoldalon a kereső alatt folyamatosan megjelennek ötletek, okosságok és viccek.
        </li>
        <li><img runat="server" src="~/content/images/changelog020_minus.png" width="128" height="128" />
            Felkerült a +/- váltó a keresőbe. Eldöntheted, hogy az adott hozzávaló mindenképpen legyen benne (+) vagy semmiképpen se legyen benne (-) a receptben. A két üzemmód között a + és - billentyűkkel, vagy az aktuális jelre kattintva tudsz.
        </li>
        <li><img runat="server" src="~/content/images/changelog020_filteritems.png" width="128" height="128" />
            Megszületett a 3 fő kategória: hozzávaló, hozzávaló aminek ismerhetjük a receptjét is (pl. ketchup vagy tejszín), illetve normál recept. Ezekre építve minden recept és hozzávalója bevihető. Ezek kombinációjából jó bonyolult keresések alakíthatók ki.
        </li>
        <li><img runat="server" src="~/content/images/changelog020_urlfilter.png" width="128" height="128" />
            URL-es keresés: most már lehet így is keresni, ha pl. barátaidnak szeretnél mutatni valami beta.mrkupido.com/hun?q=I:bors,-I:paprika (legyen benne bors, de paprika ne)
        </li>
        <li><img runat="server" src="~/content/images/changelog020_descendants.png" width="128" height="128" />
            Új szűrési lehetőség a "legszármazottak" ikonra kattinva. Ha oda kattintasz, az adott étel bekerül a szűrők közé, ami azt jelenti, hogy csak azt, illetve azok leszármazottjait láthatod. Leszármazott a sajt esetében a trappista és ementáli; pizza esetében a magyaros és hawaii pizza.
        </li>
        <li><img runat="server" src="~/content/images/changelog020_loading.png" width="128" height="128" />
            Töltést jelző animáció, ha esetleg várni kellene a fő oldalon.
        </li>
        <li><img runat="server" src="~/content/images/changelog020_nettime.png" width="128" height="128" />
            Elkészítési idők egyre jobban fedik a valóságot. Minden cselekvésnek már van végrehajtási ideje, és alapján számolja Kupidó a teljes időtartamot, ami egy ételhez kell. Ezek idővel egyre pontosabbak lesznek.
        </li>
        <li><img runat="server" src="~/content/images/changelog020_brands.png" width="128" height="128" />
            [Alfa] Megjelentek a márkák: ha rászűrsz a trappistára, akkor láthatsz márkákat, akik azt gyártják.
        </li>
        <li><img runat="server" src="~/content/images/changelog020_order.png" width="128" height="128" />
            [Alfa] Rendelési lehetőség: ha a magyaros pizzára, akkor kilistázza Kupido az általa ismert olyan pizzériákat, akik kiszállítanak neked olyan pizzát.
        </li>
        <li><img runat="server" src="~/content/images/changelog020_ingredients.png" width="128" height="128" />
            Az elkészítés oldalon szépen, 3 oszlopban sorakoznak a hozzávalók. Pipálhatók, hogy van-e otthon, egyelőre bevásárlási listát Kupidó nem készít.
        </li>
        <li><img runat="server" src="~/content/images/changelog020_portion.png" width="128" height="128" />
            Lehetőség van a porció méretének módosítására az "1 főre" szövegre kattintással. Használata egyértelmű, ha nagyobbra állítod, akkor Kupidó kiszámolja, miből mennyivel kell több.
        </li>
        <li><img runat="server" src="~/content/images/changelog020_timer.png" width="128" height="128" />
            Idő számláló az elkészítés oldalon: ha ráklikkelsz a egyik cselekvést jelző ikonra, akkor elindul az óra attól a cselekvéstől számítva, és annyi idő alatt ér körbe, amennyit az igénybe vesz. Például feltörni és szétválasztani 5 tojást 5*15 másodperc, azaz kicsit több mint 1 perc, tehát ennyit idő után a számláló ugrik a következő utasításra.
        </li>
        <li><img runat="server" src="~/content/images/changelog020_container.png" width="128" height="128" />
            Az elkészítéskor már láthatjátok a használandó eszközök ikonjait, egy-egy számmal ellátva. Ez mutatja, hogy a háttérben mi is történik, és talán könnyebb követni hogy mit is kell csinálni.
        </li>
        <li><img runat="server" src="~/content/images/changelog020_language.png" width="128" height="128" />
            Többnyelvűsítés: a háttérrendszer teljesen fel lett készítve a többnyelvű megjelenésre. Jelenleg főleg magyar, részben angol fordítás létezik, de könnyen kiegészíthető bármilyen nyelvre.
        </li>
        <li><img runat="server" src="~/content/images/changelog020_profile.png" width="128" height="128" />
            Profil adatok beállítása: nyelvválasztás, névbeállítás, magasság, testsúly és születési dátum beállítás.
        </li>
        <li><img runat="server" src="~/content/images/changelog020_taxonomy.png" width="128" height="128" />
            [Alfa] Taxonómiai fák megnézhetők, kinyithatók
        </li>
        <li><img runat="server" src="~/content/images/changelog020_import.png" width="128" height="128" />
            [Alfa] Recept importálás megnyitható, listázható, ellenőrizhető és átformálható
        </li>
        <li><img runat="server" src="~/content/images/changelog020_help.png" width="128" height="128" />
            Súgó (csak magyarul)
        </li>
        <li><img runat="server" src="~/content/images/changelog020_login.png" width="128" height="128" />
            Az authentikáció teljesen át lett dolgozva. Jelenleg 3 lehetőséged van bejelentkezni: Google, Facebook és Windows Live, mind a 3 OAuth2-es technikával. Egyelőre nem bővítem, hiszen aki nem lép majd be, az is tudja használni az oldalt, csak akkor nem lesz személyre szabott a keresés stb.
        </li>
        <li>
            Gyorsbillentyűk a keresésnél: amikor a kurzor a keresőmezőben van, akkor használhatod a jobb/balra nyilat, home, end, page up, page down, delete, backspace és +/- billenyűket.
        </li>
        <li>
            Recept URL fordítás: ha egy angol barátodnak szeretnél receptet küldeni, de a recept címe magyar pl. /hun/recept/fahejas-muffin, akkor amikor őn (belépés után) meg próbálja nyitni az oldalt, akkor Kupidó megnézi, hogy angolul meg tudja-e jeleníteni ugyanaz a receptet. Jó esetben átirányítja pl. az eng/recipe/muffin-with-cinemon címre.
        </li>
        <li>
            Recept futtató motor: Kupidó "agya" megállíthatatlanul gyarapodik. Nem térek ki a részletekre, de nem csak a logikája egyre jobb, de magyarul is egész jól beszél már. (actions rework, property accessors, multi-icon urls, affixation, eq need logic, enum2multistring)
        </li>
        <li>
            Optimalizálás a motor működésében. Jópár nap kemény munkájának eredményeképpen nem szabadna fennakadást érzékelnetek sem keresés, sem pedig az oldalak közötti ugrálás közben.
        </li>
        <li>
            Nagyon sok új ikonunk, új grafikai elemünk, design csiszolásaink vannak. Jelentősen jobb a browser kompatibilitásunk, Chrome és Safari ideális; Firefox elmegy; Opera jó, amíg nem nagyítunk, bár csúszások vannak; IE 10 egész jó, de pl. nincs keret.
        </li>
        <li>
            Bővült az adatbázis is: 15 recept, 64 hozzávaló (ebből 33 receptes, 5 recepttel, 5 termék), 45 eszköz, 85 faj, 7 súgó oldal.
        </li>
    </ol>
</article>
