@{
    ViewBag.Title = "Mr. Kupido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <header>
        <img runat="server" src="~/Content/images/mrkupidologo.png" alt="Mr. Kupido" width="200" height="152" />
        <p class="userbar">
            <span id="name">Andras Fuchs</span><span id="messages">0</span><img runat="server" src="~/Content/images/avatar.jpg" alt="Avatar" width="51" height="51" /></p>
        <div class="searchbox">
            <p class="inputfield">
                <label for="location">
                    Helyszin:</label>
                <input id="location" type="text" placeholder="(jelenleg ismeretlen)" />
            </p>
            <p class="inputfield">
                <label for="query">
                    Keresnivaló:</label>
                <input id="query" type="search" placeholder="(hozzávaló, diéta, eszköz)" autofocus />
            </p>
            <input id="search" type="submit" value="Keresés" />
            <div id="deleteall">
                <input type="button" value="Mindent töröl" />
            </div>
            <div id="filters">
                <ul>
                    <li>+ krumpli <a href="#">x</a></li>
                    <li>+ liszt <a href="#">x</a></li>
                    <li>+ cukor <a href="#">x</a></li>
                    <li>- spenót <a href="#">x</a></li>
                    <li>+ répa <a href="#">x</a></li>
                    <li>+ csirke <a href="#">x</a></li>
                    <li>- paprika <a href="#">x</a></li>
                    <li>+ sütő <a href="#">x</a></li>
                    <li>+ paleolit <a href="#">x</a></li>
                    <li>- gesztenye <a href="#">x</a></li>
                </ul>
            </div>
        </div>
    </header>
    <hr class="single" />
    <article>
        <div class="tip">
            <p>
                <img runat="server" src="~/Content/images/bulb.png" alt="Tipp" width="20" height="30" />
                Szűrőket használva leegyszerűsíthetjük a keresést. Próbálkozz hozzávalóval, diétával vagy az étel nevével.
            </p>
        </div>
        <hr class="double" />
        <details id="mymenu">
            <summary>
                <h1>
                    Saját menüm</h1>
                <h2>
                    (4 étel)</h2>
            </summary>
            <ul>
                <li>
                    <img runat="server" src="~/Content/images/cat_pork.png" alt="Sertés" width="55px" height="40px" class="pork" /><span>Paprikás krumpli</span><a href="#"><img runat="server" src="~/Content/images/ticked.png" alt="Töröl" width="40px" height="55px" class="ticked" /></a> </li>
                <li>
                    <img runat="server" src="~/Content/images/cat_other.png" alt="Egyéb" width="55px" height="40px" class="pork" /><span>Bundáskenyér</span><a href="#"><img runat="server" src="~/Content/images/ticked.png" alt="Töröl" width="40px" height="55px" class="ticked" /></a> </li>
                <li>
                    <img runat="server" src="~/Content/images/cat_chicken.png" alt="Csirke" width="55px" height="40px" class="pork" /><span>Csirkecomb mustármártásban</span><a href="#"><img runat="server" src="~/Content/images/ticked.png" alt="Töröl" width="40px" height="55px" class="ticked" /></a> </li>
                <li>
                    <img runat="server" src="~/Content/images/cat_chicken.png" alt="Csirke" width="55px" height="40px" class="pork" /><span>Gombás sült csirkecomb</span><a href="#"><img runat="server" src="~/Content/images/ticked.png" alt="Töröl" width="40px" height="55px" class="ticked" /></a> </li>
                <li class="empty"></li>
                <li class="empty"></li>
                <li class="empty"></li>
                <li class="empty"></li>
                <li class="empty"></li>
            </ul>
        </details>
        <hr class="double" />
        <details>
            <summary>
                <h1>
                    Ajánlásaink</h1>
                <h2>
                    (15 étel)</h2>
            </summary>
            <ul id="recommendations">
                <li>
                    <img src="egg.png" alt="Tojás" /><span>Sajtban sült tojás</span><img src="notticked.png" alt="Kiválaszt" />
                    <img src="sajtban-sult-tojas-pic01.jpg" alt="Sajtban sült tojás kép 01" /><img src="sajtban-sult-tojas-pic02.jpg" alt="Sajtban sült tojás kép 02" />
                    <img src="stars_45.png" alt="4.5 csillag" />
                </li>
                <li>
                    <img src="salad.png" alt="Saláta" /><span>Cézár saláta</span><img src="notticked.png" alt="Kiválaszt" />
                    <img src="cezar-salata-pic01.jpg" alt="Cézár saláta kép 01" /><img src="cezar-salata-pic02.jpg" alt="Cézár saláta kép 02" />
                    <img src="stars_20.png" alt="2.0 csillag" />
                </li>
            </ul>
        </details>
        <hr class="double" />
        <details id="searchresults" open>
            <summary>
                <h1>
                    Találatok</h1>
                <h2>
                    (135 étel)</h2>
            </summary>
            <hr class="single" />
            <div class="filters">
                <figure>
                    <a id="filter01" href="#">
                        <img runat="server" src="~/Content/images/cat_starter.png" alt="előétel" width="55px" height="40px" />
                        <figcaption>előétel (+11)</figcaption>
                    </a>
                </figure>
                <figure>
                    <a id="filter02" href="#">
                        <img runat="server" src="~/Content/images/cat_soup_d.png" alt="leves" width="55px" height="40px" /><figcaption>leves (-5)</figcaption></a>
                </figure>
                <figure>
                    <a id="filter03" href="#">
                        <img runat="server" src="~/Content/images/cat_maindish.png" alt="főétel" width="55px" height="40px" /><figcaption>főétel (+32)</figcaption></a>
                </figure>
                <figure>
                    <a id="filter04" href="#">
                        <img runat="server" src="~/Content/images/cat_dessert.png" alt="desszert" width="55px" height="40px" /><figcaption>desszert (+3)</figcaption></a>
                </figure>
                <figure>
                    <a id="filter05" href="#">
                        <img runat="server" src="~/Content/images/cat_beverage.png" alt="ital" width="55px" height="40px" /><figcaption>ital (+1)</figcaption></a>
                </figure>
            </div>
            <div class="sortorderselect">
                <a href="#">név</a> - <a href="#">idö</a> - <a href="#" class="selected">értékelés</a> - <a href="#">típus</a>
            </div>
            <hr class="single" />
            <div>
                <ul>
                    <li>
                        <div class="resultbox">
                            <div class="resulthead">
                                <img runat="server" src="~/Content/images/cat_pork.png" alt="Sertés" width="55px" height="40px" class="pork" /><span>Paprikás krumpli</span><a href="#"><img runat="server" src="~/Content/images/ticked.png" alt="Töröl" width="40px" height="55px" class="ticked" /></a>
                            </div>
                            <div class="resulticons">
                            </div>
                            <div class="resultbody">
                                krumpli, paprika, virsli, borsó, só, liszt, tej, disznósajt, tojás, élesztő, paradicsom, krumpli, paprika, virsli, borsó, só, liszt, tej</div>
                            <div class="resultfooter">
                                <img runat="server" src="~/Content/images/stars_25.png" alt="tápérték" width="111px" height="20px" />
                            </div>
                        </div>
                        <div class="resultnutrition">
                            <img runat="server" src="~/Content/images/nutrition_sample.png" alt="tápérték" width="131px" height="47px" />
                        </div>
                    </li>
                    <li>
                        <div class="resultbox">
                            <div class="resulthead">
                                <img runat="server" src="~/Content/images/cat_pork.png" alt="Sertés" width="55px" height="40px" class="pork" /><span>Paprikás krumpli</span><a href="#"><img runat="server" src="~/Content/images/ticked.png" alt="Töröl" width="40px" height="55px" class="ticked" /></a>
                            </div>
                            <div class="resulticons">
                            </div>
                            <div class="resultbody">
                                krumpli, paprika, virsli, borsó, só, liszt, tej, disznósajt, tojás, élesztő, paradicsom, krumpli, paprika, virsli, borsó, só, liszt, tej</div>
                            <div class="resultfooter">
                                <img runat="server" src="~/Content/images/stars_25.png" alt="tápérték" width="111px" height="20px" />
                            </div>
                        </div>
                        <div class="resultnutrition">
                            <img runat="server" src="~/Content/images/nutrition_sample.png" alt="tápérték" width="131px" height="47px" />
                        </div>
                    </li>
                    <li>
                        <div class="resultbox">
                            <div class="resulthead">
                                <img runat="server" src="~/Content/images/cat_pork.png" alt="Sertés" width="55px" height="40px" class="pork" /><span>Paprikás krumpli</span><a href="#"><img runat="server" src="~/Content/images/ticked.png" alt="Töröl" width="40px" height="55px" class="ticked" /></a>
                            </div>
                            <div class="resulticons">
                            </div>
                            <div class="resultbody">
                                krumpli, paprika, virsli, borsó, só, liszt, tej, disznósajt, tojás, élesztő, paradicsom, krumpli, paprika, virsli, borsó, só, liszt, tej</div>
                            <div class="resultfooter">
                                <img runat="server" src="~/Content/images/stars_25.png" alt="tápérték" width="111px" height="20px" />
                            </div>
                        </div>
                        <div class="resultnutrition">
                            <img runat="server" src="~/Content/images/nutrition_sample.png" alt="tápérték" width="131px" height="47px" />
                        </div>
                    </li>
                    <li>
                        <div class="resultbox">
                            <div class="resulthead">
                                <img runat="server" src="~/Content/svg/star_test.svg" alt="Sertés" width="55px" height="40px" class="pork" /><span>Paprikás krumpli</span><a href="#"><img runat="server" src="~/Content/images/ticked.png" alt="Töröl" width="40px" height="55px" class="ticked" /></a>
                            </div>
                            <div class="resulticons">
                            </div>
                            <div class="resultbody">
                                krumpli, paprika, virsli, borsó, só, liszt, tej, disznósajt, tojás, élesztő, paradicsom, krumpli, paprika, virsli, borsó, só, liszt, tej</div>
                            <div class="resultfooter">
                                <img runat="server" src="~/Content/images/stars_25.png" alt="2.5 csillag" width="111px" height="20px" />
                            </div>
                        </div>
                        <div class="resultnutrition">
                            <img runat="server" src="~/Content/images/nutrition_sample.png" alt="tápérték" width="131px" height="47px" />
                        </div>
                    </li>
                </ul>
            </div>
        </details>
    </article>
    <hr class="single" />
    <footer>
        <p>
            <a href="#">főoldal</a>|<a href="#">profilom</a>|<a href="#">hírlevél</a>|<a href="#">beállításaim</a>|<a href="#">jogi nyilatkozat</a>
        </p>
        <p>
            &copy; 2012 Kupido Inc. All rights reserved</p>
    </footer>
</div>
