@{
    ViewBag.Title = "Unsupported browser - Mr. Kupido";
}
<header class="nosearch">
    <a runat="server" href="~/">
        <img runat="server" src="~/Content/svg/mrkupidologo.svg" alt="Mr. Kupido" width="400" height="304" />
    </a>
</header>
<div>
    <details open class="alwaysopen">
        <summary>
            <h1>
                Böngésző frissítés</h1>
        </summary>
        <h2>
            Kérlek frissítsd a böngésződet az alábbi címek valamelyikén!</h2>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </details>
</div>
<div class="formbuttons">
    <input type="submit" value="Továbblépek frissítés nélkül >>" />
</div>